body {
    background: rgba(0, 238, 226, 0.2);
    font-family: 'Roboto', sans-serif;
}
.login-box {
    margin-top: 85px;
    align-items: center;
    justify-content: center;
    height: auto;
    background: #ECF0F5;
    text-align: center;
    border-radius: 4%;
    box-shadow: 0 3px 6px rgba(217, 213, 213, 0.568), 0 3px 6px rgba(155, 163, 150, 0.541);
}

.login-key {
    margin-top: 25px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #17A2B8;
}

.login-form {
    margin-top: 30px;
    text-align: left;
}

input[type=text] {
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 10px;
    font-weight: bold;
    outline: 0;
    margin-top: 10px;
    padding-left: 0px;
}

input[type=password] {
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 10px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 20px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #b0e0f8;
    color: #000000;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
    padding-left: 10px;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 14px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 25px;
   
    /* align-items: center; */

}

.login-text {
    /* align-items: center; */
    text-align: center;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}